
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

   
    <!-- /#sidebar-wrapper -->

    <!-- Page Content -->
    <div id="page-content-wrapper">
     
      <nav class="navbar navbar-expand-lg navbar-dark yellow" id="menu_nav" >
         <!-- <nav class="navbar navbar-expand-lg navbar-light border-bottom" id="menu_nav">-->
        <!--<button  (click)="navbar()" class="btn btn-secondary" id="menu-toggle"><img src="assets/img/{{arrow}}.png"></button>-->
        <img style="color:white;"class="logo"  id="logo" src="../../assets/img/logo_casa.png" >
        <h3 class="titolo" id="titolo" style="color:white">La casa di Isabella</h3>


        <button   class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div style="" class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul style="" class="navbar-nav  pull-xs-right">
            <li class="nav-item active">
                <a style=''class="nav-link" [routerLink]="['/area-riservata',{outlets:{ 'reserved': ['home']}}]"> 
                  <i class="fas fa-home fa-1x"></i>
                  Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
                <a style=''class="nav-link" [routerLink]="['/area-riservata',{outlets:{ 'reserved': ['home']}}]"> 
                  
                  Il Giardino <span class="sr-only">(current)</span></a>
            </li>
            
            <li class="nav-item active">
                <a style=''class="nav-link" [routerLink]="['/area-riservata',{outlets:{ 'reserved': ['home']}}]"> 
                  
                  Salotto <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
                <a style=''class="nav-link" [routerLink]="['/area-riservata',{outlets:{ 'reserved': ['home']}}]"> 
                  
                  Bagno <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
                <a style=''class="nav-link" [routerLink]="['/area-riservata',{outlets:{ 'reserved': ['home']}}]"> 
                  
                  Beauty Room <span class="sr-only">(current)</span></a>
            </li>
            
            <li class="nav-item">
              <a class="nav-link" > Couple Room</a>
            </li>
            <li class="nav-item active">
                <a style=''class="nav-link" [routerLink]="['/area-riservata',{outlets:{ 'reserved': ['home']}}]"> 
                  <i class="fas fa-question fa-1x"></i>
                  Chi siamo <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item dropdown">
              <a  class="nav-link dropdown-toggle"  id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"[routerLink]="">
                <i class="fas fa-user-circle fa-1x"></i>  Opzioni
              </a>
              <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown" id="div1">
                
                <a class="dropdown-item" [routerLink]="['/area-riservata',{outlets:{ 'reserved': ['mio_profilo']}}]"> Mio profilo <i style="float:right;"class="fas fa-user-cog fa-1x"></i></a>
               <!--<a class="dropdown-item" > Mio profilo <i style="float:right;"class="fas fa-user-cog fa-1x"></i></a> -->
                
                <div class="dropdown-divider"></div>
                <a class="dropdown-item"  [routerLink]="['/login']">Logout <i style="text-align:center;float:right;"class="fas fa-sign-out-alt fa-1x"></i></a>
              </div>
            </li>
          </ul>
        </div>
      </nav>

      <!--<div class="main-wrapper-first">
          <router-outlet name = "reserved"></router-outlet>        
      </div>
    -->
      <br>
      <div class="margen">
          
        <router-outlet name = "reserved"></router-outlet>        
      
      
      </div>

      
    

<!-- Footer -->
<footer class="page-footer font-small mdb-color pt-4" id="footer1">

  <!-- Footer Links -->
  <div class="container text-center text-md-left" id="cont_foo">

    <!-- Footer links -->
    <div class="row text-center text-md-left mt-3 pb-3">

      <!-- Grid column -->
      <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
        <h6 class="text-uppercase mb-4 font-weight-bold">Capitano e amici S.R.L</h6>
        <p>Here you can use rows and columns to organize your footer content. Lorem ipsum dolor sit amet,
          consectetur
          adipisicing elit.</p>
      </div>
      <!-- Grid column -->

      <hr class="w-100 clearfix d-md-none">

      <!-- Grid column -->
      <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-3">
        <h6 class="text-uppercase mb-4 font-weight-bold">Products</h6>
        <p>
          <a href="#!">MDBootstrap</a>
        </p>
        <p>
          <a href="#!">MDWordPress</a>
        </p>
        <p>
          <a href="#!">BrandFlow</a>
        </p>
        <p>
          <a href="#!">Bootstrap Angular</a>
        </p>
      </div>
      <!-- Grid column -->

      <hr class="w-100 clearfix d-md-none">

      <!-- Grid column -->
      <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mt-3">
        <h6 class="text-uppercase mb-4 font-weight-bold">Useful links</h6>
        <p>
          <a href="#!">Your Account</a>
        </p>
        <p>
          <a href="#!">Become an Affiliate</a>
        </p>
        <p>
          <a href="#!">Shipping Rates</a>
        </p>
        <p>
          <a href="#!">Help</a>
        </p>
      </div>

  

      <!-- Grid column -->
      <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-3">
        <h6 class="text-uppercase mb-4 font-weight-bold">Contact</h6>
        <p>
          <i class="fas fa-home mr-3"></i>Marche,Ancona 60129, Italy</p>
        <p>
          <i class="fas fa-envelope mr-3"></i> LucaQuercetti@gmail.com</p>
        <p>
          <i class="fas fa-phone mr-3"></i> + 39 353 371 7933</p>
        <p>
          <i class="fas fa-print mr-3"></i> + 39 383 370 7854</p>
      </div>
      <!-- Grid column -->

    </div>
    <!-- Footer links -->

    <hr>

    <!-- Grid row -->
    <div class="row d-flex align-items-center">

      <!-- Grid column -->
      <div class="col-md-7 col-lg-8">

        <!--Copyright-->
        <p class="text-center text-md-left">© 2019 Copyright:
          <a href="https://mdbootstrap.com/education/bootstrap/">
            <strong> Capitano e gli amici</strong>
          </a>
        </p>

      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-5 col-lg-4 ml-lg-0">

        <!-- Social buttons -->
        <div class="text-center text-md-right">
          <ul class="list-unstyled list-inline">
            <li class="list-inline-item">
              <a class="btn-floating btn-sm rgba-white-slight mx-1">
                <i class="fab fa-facebook-f"></i>
              </a>
            </li>
            <li class="list-inline-item">
              <a class="btn-floating btn-sm rgba-white-slight mx-1">
                <i class="fab fa-twitter"></i>
              </a>
            </li>
            <li class="list-inline-item">
              <a class="btn-floating btn-sm rgba-white-slight mx-1">
                <i class="fab fa-google-plus-g"></i>
              </a>
            </li>
            <li class="list-inline-item">
              <a class="btn-floating btn-sm rgba-white-slight mx-1">
                <i class="fab fa-linkedin-in"></i>
              </a>
            </li>
          </ul>
        </div>

      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row -->

  </div>
  <!-- Footer Links -->

</footer>
<!-- Footer -->
  

  </div>

  
  