/*!
 * Start Bootstrap - Simple Sidebar (https://startbootstrap.com/template-overviews/simple-sidebar)
 * Copyright 2013-2019 Start Bootstrap
 * Licensed under MIT (https://github.com/BlackrockDigital/startbootstrap-simple-sidebar/blob/master/LICENSE)
 */
 body {
  overflow-x: hidden;
 /* background-image:url("/src/assets/img/menu_img.jpg");
  background-color: black;
  */
}

#sidebar-wrapper {
  min-height: 100vh;
  width: 23%;
  /*margin-left: -10.9rem;*/
  margin-left: 1.6rem;
  -webkit-transition: margin .25s ease-out;
  -moz-transition: margin .25s ease-out;
  -o-transition: margin .25s ease-out;
  transition: margin .25s ease-out;
 opacity:0.92; 

 
  
  /*background-color: rgb(39, 38, 38);*/
  
  
  /*background:url(../../../src/assets/img/menu_img.jpg);*/
  
  
}

#sidebar-wrapper .sidebar-heading {
  padding: 1.875rem 0.5rem;
  font-size: 1.3rem;
  color: rgb(0, 0, 0);
  background-color:rgba(238, 241, 245, 0.89);
  /*background-color:#4c6c8b;*/
  opacity: 0.89;
  
  
  /*background-color: #434361;*/
    border-bottom: 1px solid white;
    /*padding: 15px;*/
}



/* revisare menu*/


/*
#menu ul  {
  
  color: black;
  background-color:rgba(144, 201, 11, 0.87);
}*/



#buttons li{
  color: black;
  
  background-color:#dfe4ee;
/*  background-color:#34495f;*/
  
  display:block;
  text-decoration: none;
  
  border-bottom: #3f3f5f 1px inset;

}

#buttons li:hover{
    
    color: white;
    background-color:rgba(212, 30, 69, 0.73);
    
    display:block;
    text-decoration: none;
}

  #buttons li a{
    padding-left: 12px;
    color: rgb(233, 230, 230);
    background: transparent;
    display:block;
    text-decoration: none;
    padding-bottom: 18px;
    padding-top: 16px;
    border-bottom: #3f3f5f 1px inset;
    
  }
  
  
  #buttons li a:hover{
    /*border: 1px solid white; */
    color: white;
    /*background-color: red; del menu sinistra*/ 

   }

  
/*
*/
#page-content-wrapper {
  /*background-color:white;*/
  min-width: 100vw;
}

#wrapper.toggled #sidebar-wrapper {
  margin-left: 0;
  width:13%;
}

@media (min-width: 768px) {
  #sidebar-wrapper {
    margin-left: 0;
  }

  #page-content-wrapper {
    min-width: 0;
    width: 100%;
  }

  #menu_nav li a {
    
    border-left: white 3px inset;
    color: white;
    /*background-color:#dd0b62;*/
    background-color:transparent;
    
    
    padding-left: 10px;
    padding-right: 10px;
    height: 55px;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 18px;

    font-family: "Latin Modern Roman 10";

  }
  #menu_nav li div a { 
    border-bottom: rgb(216, 216, 216) 2px inset;
    
    padding-left: 14px;
    padding-right: 14px;
  }
  #menu_nav div ul { 
  
    float:right;
    
    position:fixed;
    right: 25px;
/*    width: 100%;*/
    /*left: 950px;*/
  }


  #menu_nav li a:hover {
    color: white;
    background-color: rgb(216, 62, 62);
  }
  #menu_nav 
  {  
    /*background-color: #3f3f5f;*/
    /*background-color:#dd0b62!important;*/
    background: rgba(239,197,202,1);
background: -moz-linear-gradient(left, rgba(239,197,202,1) 0%, rgba(210,75,90,1) 33%, rgba(186,39,55,1) 41%, rgba(221,11,98,1) 100%);
background: -webkit-gradient(left top, right top, color-stop(0%, rgba(239,197,202,1)), color-stop(33%, rgba(210,75,90,1)), color-stop(41%, rgba(186,39,55,1)), color-stop(100%, rgba(221,11,98,1)));
background: -webkit-linear-gradient(left, rgba(239,197,202,1) 0%, rgba(210,75,90,1) 33%, rgba(186,39,55,1) 41%, rgba(221,11,98,1) 100%);
background: -o-linear-gradient(left, rgba(239,197,202,1) 0%, rgba(210,75,90,1) 33%, rgba(186,39,55,1) 41%, rgba(221,11,98,1) 100%);
background: -ms-linear-gradient(left, rgba(239,197,202,1) 0%, rgba(210,75,90,1) 33%, rgba(186,39,55,1) 41%, rgba(221,11,98,1) 100%);
background: linear-gradient(to right, rgba(239,197,202,1) 0%, rgba(210,75,90,1) 33%, rgba(186,39,55,1) 41%, rgba(221,11,98,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#efc5ca', endColorstr='#dd0b62', GradientType=1 );
    /*background-color:#4c6c8b!important;*/
    
    width: 100%;
    /*left: 230px auto; /* Posicionamos la cabecera al lado izquierdo */
    float:right;
    /*right: 0 auto;*/
    position:fixed;
    height: 122px;
    color:black;
    z-index:3;
    border-bottom:1px inset white;
  }
  
  #menu_nav #div1 a{
  background-color: white;
  color:black;
  border-left: none;
  }

  #menu_nav #div1 a:hover{
    
    color:white;
    /*background-color:#e29a2f;*/
    background-color:rgb(216, 62, 62);
    

  }

  #wrapper.toggled #sidebar-wrapper {
    margin-left: -10.9rem;
  }
  
}


.main-wrapper-first {
  width: 90.75%;
  height: auto;
  margin: 0 auto;
  margin-top: 1.5rem;
  border-radius: 15px;
  /*padding: 15px;*/
  background-color:white;
}
.margen{

  margin-top: 3.5rem;
  margin: 0 auto;
  padding-top: 75px;
  padding-right: 25px;
  padding-left: 25px;
  
}

#footer1{
 color: white;
  background-color:rgb(185, 138, 116);
}
#cont_foo{

  height: 25%;
}

#titolo{
  
    font-family: "Latin Modern Roman 10";
    font-size: 150%;
    font-style: italic;
  

}
.logo{

height: 100px;
width: 120px;
margin-right: 15px;

}