@media only screen and (max-width:620px) {
        /* For mobile phones: */
        .menu, .main, .right {
          width:100%;
        }
      }


   body {
    
    /*overflow-x: hidden;
    background-image:url("/src/assets/img/menu_img.jpg");
    */
    /*
    background:url(/src/assets/img/body-bg.jpg) no-repeat center fixed;
    background-color:#373758;*/
    
    
    
    background-attachment: fixed;
    /*background-color:#E2E2E2;*/
    /*background: url("../../src/assets/img/cons1.jpg");*/
    background: url("../../src/assets/img/loreto1.jpg");
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    /*
    background: url("../../src/assets/img/bgfallback.jpg") #002E66 no-repeat center center scroll;
    background-position: cover;
    */
    
  }

 

body {
  color: #777777;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 1.5em;
  position: relative;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body:after {
  position: absolute;
  content: "";
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  position: fixed;
  
  background-image: -moz-linear-gradient(0deg, #e72f2ff8 0%, #f09458 100%);
  background-image: -webkit-linear-gradient(0deg, #e72f2ff8 0%, #f09458 100%);
  background-image: -ms-linear-gradient(0deg, #e72f2ff8 0%, #f09458 100%);
  opacity: 0.6;
  z-index: -1;
}

.container1{

  background-color: rgba(229, 182, 182, 0.78);

}

/* per preloader circoli*/
/*
.loader-page {
  position: fixed;
  z-index: 25000;
  background: rgb(255, 255, 255);
  left: 0px;
  top: 0px;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition:all .3s ease;
  background-color:rgb(44, 50, 70);
}
.loader-page::before {
  content: "";
  position: absolute;
  border: 10px solid rgb(50, 150, 176);
  width: 90px;
  height: 90px;
  border-radius: 80%;
  box-sizing: border-box;
  border-left: 8px solid rgba(50, 150, 176,0);
  border-top: 8px solid rgba(50, 150, 176,0);
  animation: rotarload 1s linear infinite;
  transform: rotate(0deg);
}
@keyframes rotarload {
    0%   {transform: rotate(0deg)}
    100% {transform: rotate(360deg)}
}
.loader-page::after {
  content: "";
  position: absolute;
  border: 8px solid rgba(242, 247, 248, 0.5);
  width: 60px;
  height: 60px;
  border-radius: 80%;
  box-sizing: border-box;
  border-left: 5px solid rgba(50, 150, 176, 0);
  border-top: 5px solid rgba(50, 150, 176, 0);
  animation: rotarload 1s ease-out infinite;
  transform: rotate(0deg);
}

*/




/* para el preloader de barras rojo*/


.loader { 
  align-items: center;
  justify-content: center;
position: relative;
width: 75px;
height: 110px;
   

}
.loader__bar {
position: absolute;
bottom: 0;
width: 10px;
height: 50%;
background: #fff;
-webkit-transform-origin: center bottom;
        transform-origin: center bottom;
box-shadow: 1px 1px 0 rgba(0, 0, 0, 0.2);
}
.loader__bar:nth-child(1) {
left: 0px;
-webkit-transform: scale(1, 0.2);
        transform: scale(1, 0.2);
-webkit-animation: barUp1 4s infinite;
        animation: barUp1 4s infinite;
}
.loader__bar:nth-child(2) {
left: 15px;
-webkit-transform: scale(1, 0.4);
        transform: scale(1, 0.4);
-webkit-animation: barUp2 4s infinite;
        animation: barUp2 4s infinite;
}
.loader__bar:nth-child(3) {
left: 30px;
-webkit-transform: scale(1, 0.6);
        transform: scale(1, 0.6);
-webkit-animation: barUp3 4s infinite;
        animation: barUp3 4s infinite;
}
.loader__bar:nth-child(4) {
left: 45px;
-webkit-transform: scale(1, 0.8);
        transform: scale(1, 0.8);
-webkit-animation: barUp4 4s infinite;
        animation: barUp4 4s infinite;
}
.loader__bar:nth-child(5) {
left: 60px;
-webkit-transform: scale(1, 1);
        transform: scale(1, 1);
-webkit-animation: barUp5 4s infinite;
        animation: barUp5 4s infinite;
}
.loader__ball {
position: absolute;
bottom: 10px;
left: 0;
width: 10px;
height: 10px;
background: #fff;
border-radius: 50%;
-webkit-animation: ball 4s infinite;
        animation: ball 4s infinite;
}

@-webkit-keyframes ball {
0% {
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
}
5% {
  -webkit-transform: translate(8px, -14px);
          transform: translate(8px, -14px);
}
10% {
  -webkit-transform: translate(15px, -10px);
          transform: translate(15px, -10px);
}
17% {
  -webkit-transform: translate(23px, -24px);
          transform: translate(23px, -24px);
}
20% {
  -webkit-transform: translate(30px, -20px);
          transform: translate(30px, -20px);
}
27% {
  -webkit-transform: translate(38px, -34px);
          transform: translate(38px, -34px);
}
30% {
  -webkit-transform: translate(45px, -30px);
          transform: translate(45px, -30px);
}
37% {
  -webkit-transform: translate(53px, -44px);
          transform: translate(53px, -44px);
}
40% {
  -webkit-transform: translate(60px, -40px);
          transform: translate(60px, -40px);
}
50% {
  -webkit-transform: translate(60px, 0);
          transform: translate(60px, 0);
}
57% {
  -webkit-transform: translate(53px, -14px);
          transform: translate(53px, -14px);
}
60% {
  -webkit-transform: translate(45px, -10px);
          transform: translate(45px, -10px);
}
67% {
  -webkit-transform: translate(37px, -24px);
          transform: translate(37px, -24px);
}
70% {
  -webkit-transform: translate(30px, -20px);
          transform: translate(30px, -20px);
}
77% {
  -webkit-transform: translate(22px, -34px);
          transform: translate(22px, -34px);
}
80% {
  -webkit-transform: translate(15px, -30px);
          transform: translate(15px, -30px);
}
87% {
  -webkit-transform: translate(7px, -44px);
          transform: translate(7px, -44px);
}
90% {
  -webkit-transform: translate(0, -40px);
          transform: translate(0, -40px);
}
100% {
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
}
}

@keyframes ball {
0% {
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
}
5% {
  -webkit-transform: translate(8px, -14px);
          transform: translate(8px, -14px);
}
10% {
  -webkit-transform: translate(15px, -10px);
          transform: translate(15px, -10px);
}
17% {
  -webkit-transform: translate(23px, -24px);
          transform: translate(23px, -24px);
}
20% {
  -webkit-transform: translate(30px, -20px);
          transform: translate(30px, -20px);
}
27% {
  -webkit-transform: translate(38px, -34px);
          transform: translate(38px, -34px);
}
30% {
  -webkit-transform: translate(45px, -30px);
          transform: translate(45px, -30px);
}
37% {
  -webkit-transform: translate(53px, -44px);
          transform: translate(53px, -44px);
}
40% {
  -webkit-transform: translate(60px, -40px);
          transform: translate(60px, -40px);
}
50% {
  -webkit-transform: translate(60px, 0);
          transform: translate(60px, 0);
}
57% {
  -webkit-transform: translate(53px, -14px);
          transform: translate(53px, -14px);
}
60% {
  -webkit-transform: translate(45px, -10px);
          transform: translate(45px, -10px);
}
67% {
  -webkit-transform: translate(37px, -24px);
          transform: translate(37px, -24px);
}
70% {
  -webkit-transform: translate(30px, -20px);
          transform: translate(30px, -20px);
}
77% {
  -webkit-transform: translate(22px, -34px);
          transform: translate(22px, -34px);
}
80% {
  -webkit-transform: translate(15px, -30px);
          transform: translate(15px, -30px);
}
87% {
  -webkit-transform: translate(7px, -44px);
          transform: translate(7px, -44px);
}
90% {
  -webkit-transform: translate(0, -40px);
          transform: translate(0, -40px);
}
100% {
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
}
}
@-webkit-keyframes barUp1 {
0% {
  -webkit-transform: scale(1, 0.2);
          transform: scale(1, 0.2);
}
40% {
  -webkit-transform: scale(1, 0.2);
          transform: scale(1, 0.2);
}
50% {
  -webkit-transform: scale(1, 1);
          transform: scale(1, 1);
}
90% {
  -webkit-transform: scale(1, 1);
          transform: scale(1, 1);
}
100% {
  -webkit-transform: scale(1, 0.2);
          transform: scale(1, 0.2);
}
}
@keyframes barUp1 {
0% {
  -webkit-transform: scale(1, 0.2);
          transform: scale(1, 0.2);
}
40% {
  -webkit-transform: scale(1, 0.2);
          transform: scale(1, 0.2);
}
50% {
  -webkit-transform: scale(1, 1);
          transform: scale(1, 1);
}
90% {
  -webkit-transform: scale(1, 1);
          transform: scale(1, 1);
}
100% {
  -webkit-transform: scale(1, 0.2);
          transform: scale(1, 0.2);
}
}
@-webkit-keyframes barUp2 {
0% {
  -webkit-transform: scale(1, 0.4);
          transform: scale(1, 0.4);
}
40% {
  -webkit-transform: scale(1, 0.4);
          transform: scale(1, 0.4);
}
50% {
  -webkit-transform: scale(1, 0.8);
          transform: scale(1, 0.8);
}
90% {
  -webkit-transform: scale(1, 0.8);
          transform: scale(1, 0.8);
}
100% {
  -webkit-transform: scale(1, 0.4);
          transform: scale(1, 0.4);
}
}
@keyframes barUp2 {
0% {
  -webkit-transform: scale(1, 0.4);
          transform: scale(1, 0.4);
}
40% {
  -webkit-transform: scale(1, 0.4);
          transform: scale(1, 0.4);
}
50% {
  -webkit-transform: scale(1, 0.8);
          transform: scale(1, 0.8);
}
90% {
  -webkit-transform: scale(1, 0.8);
          transform: scale(1, 0.8);
}
100% {
  -webkit-transform: scale(1, 0.4);
          transform: scale(1, 0.4);
}
}
@-webkit-keyframes barUp3 {
0% {
  -webkit-transform: scale(1, 0.6);
          transform: scale(1, 0.6);
}
100% {
  -webkit-transform: scale(1, 0.6);
          transform: scale(1, 0.6);
}
}
@keyframes barUp3 {
0% {
  -webkit-transform: scale(1, 0.6);
          transform: scale(1, 0.6);
}
100% {
  -webkit-transform: scale(1, 0.6);
          transform: scale(1, 0.6);
}
}
@-webkit-keyframes barUp4 {
0% {
  -webkit-transform: scale(1, 0.8);
          transform: scale(1, 0.8);
}
40% {
  -webkit-transform: scale(1, 0.8);
          transform: scale(1, 0.8);
}
50% {
  -webkit-transform: scale(1, 0.4);
          transform: scale(1, 0.4);
}
90% {
  -webkit-transform: scale(1, 0.4);
          transform: scale(1, 0.4);
}
100% {
  -webkit-transform: scale(1, 0.8);
          transform: scale(1, 0.8);
}
}
@keyframes barUp4 {
0% {
  -webkit-transform: scale(1, 0.8);
          transform: scale(1, 0.8);
}
40% {
  -webkit-transform: scale(1, 0.8);
          transform: scale(1, 0.8);
}
50% {
  -webkit-transform: scale(1, 0.4);
          transform: scale(1, 0.4);
}
90% {
  -webkit-transform: scale(1, 0.4);
          transform: scale(1, 0.4);
}
100% {
  -webkit-transform: scale(1, 0.8);
          transform: scale(1, 0.8);
}
}
@-webkit-keyframes barUp5 {
0% {
  -webkit-transform: scale(1, 1);
          transform: scale(1, 1);
}
40% {
  -webkit-transform: scale(1, 1);
          transform: scale(1, 1);
}
50% {
  -webkit-transform: scale(1, 0.2);
          transform: scale(1, 0.2);
}
90% {
  -webkit-transform: scale(1, 0.2);
          transform: scale(1, 0.2);
}
100% {
  -webkit-transform: scale(1, 1);
          transform: scale(1, 1);
}
}
@keyframes barUp5 {
0% {
  -webkit-transform: scale(1, 1);
          transform: scale(1, 1);
}
40% {
  -webkit-transform: scale(1, 1);
          transform: scale(1, 1);
}
50% {
  -webkit-transform: scale(1, 0.2);
          transform: scale(1, 0.2);
}
90% {
  -webkit-transform: scale(1, 0.2);
          transform: scale(1, 0.2);
}
100% {
  -webkit-transform: scale(1, 1);
          transform: scale(1, 1);
}
}

#overlay{
 position: fixed;
  z-index: 25000;
  background: rgb(255, 255, 255);
  left: 0px;
  top: 0px;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all .3s ease;
  background-color: rgb(14, 195, 180);

}