<head>
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
 
</head>

<body>
<!-- parte del preloader -->
<!-- preloader di circoli -->

<!--    <div class="loader-page"></div> -->


<!-- preloader di scale -->
    <div class="loader-page" id="overlay">
        <div class="loader">
          <div class="loader__bar"></div>
          <div class="loader__bar"></div>
          <div class="loader__bar"></div>
          <div class="loader__bar"></div>
          <div class="loader__bar"></div>
          <div class="loader__ball"></div>
        </div>
        </div>


<div class="container1">
<router-outlet>

</router-outlet>

</div>




</body>