
<head>
  
</head>
<body>
    

<!------ Include the above in your HEAD tag ---------->
<br>
<br>
<div class = "">
<div *ngIf= "disabilitato" class="wrapper fadeInDown">
  <br>
  <br>
  <div id="formContent">
    <!-- Tabs Titles -->

    <!-- Icon -->
    <div id="formHead">
      
       <!--<img src="assets/img/icon.png" id="icon" alt="User Icon" class="rounded max-auto d-block"> -->
       <a class="" href="#">Sign In </a>
    </div>
    

    <!-- Login Form -->
    <form [formGroup]="loginForm" (ngSubmit)="logIn()">
      <br>
      <br>
      <i  class="fas fa-user fa-w-16 fa-2x"></i><input type="text" [(ngModel)]="user1" formControlName="username" id="username" class="fadeIn second" name="login" placeholder="username">
      <br>
      <i  class="fas fa-key fa-w-16 fa-2x"></i><input type="password" [(ngModel)]="pass1" formControlName="password" id="password" class="fadeIn third" name="login" placeholder="password">
      <br>
      <br>
      <input type="submit" class="" value="Log In">
    </form>

    <!-- Remind Passowrd -->
    <div id="formFooter">
        <!--btn btn-dark"-->
      <a class="underlineHover sm" href="#">Forgot Password?</a>
      
    </div>

  </div>
</div>

</div>


    

<!-- Footer -->
<footer class="page-footer font-small mdb-color " id="footer1">

  <!-- Footer Links -->
  <div class="container text-center text-md-left" id="cont_foo">

    <!-- Footer links -->
    
    <hr>

    <!-- Grid row -->
    <div class="row d-flex align-items-center">

      <!-- Grid column -->
      <div class="col-md-7 col-lg-8">

        <!--Copyright-->
        <p class="text-center text-md-left">© 2018 Copyright:
          <a href="https://mdbootstrap.com/education/bootstrap/">
            <strong> MDBootstrap.com</strong>
          </a>
        </p>

      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-5 col-lg-4 ml-lg-0">

        <!-- Social buttons -->
        <div class="text-center text-md-right">
          <ul class="list-unstyled list-inline">
            <li class="list-inline-item">
              <a class="btn-floating btn-sm rgba-white-slight mx-1">
                <i class="fab fa-facebook-f"></i>
              </a>
            </li>
            <li class="list-inline-item">
              <a class="btn-floating btn-sm rgba-white-slight mx-1">
                <i class="fab fa-twitter"></i>
              </a>
            </li>
            <li class="list-inline-item">
              <a class="btn-floating btn-sm rgba-white-slight mx-1">
                <i class="fab fa-google-plus-g"></i>
              </a>
            </li>
            <li class="list-inline-item">
              <a class="btn-floating btn-sm rgba-white-slight mx-1">
                <i class="fab fa-linkedin-in"></i>
              </a>
            </li>
          </ul>
        </div>

      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row -->

  </div>
  <!-- Footer Links -->

</footer>
<!-- Footer -->




</body>
