<header>

    
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
</header>
<body>
  <br>
  <br>


<!--  inicio----- -->
<div class="cont1">
    <div class="">
  <ngb-carousel>
    <ng-template ngbSlide>
      <img src="../../assets/img/image_1.jpg" alt="Random first slide">
      <div class="carousel-caption">
        <h3>10 seconds between slides...</h3>
        <p>This carousel uses customized default values.</p>
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <img src="../../assets/img/image_2.jpg" alt="Random second slide">
      <div class="carousel-caption">
        <h3>No mouse events...</h3>
        <p>This carousel doesn't pause or resume on mouse events</p>
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <img src="../../assets/img/image_3.jpg"  alt="Random third slide">
      <div class="carousel-caption">
        <h3>No keyboard...</h3>
        <p>This carousel uses customized default values.</p>
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <img src="../../assets/img/image_4.jpg" alt="Random fourth slide">
      <div class="carousel-caption">
        <h3>And no wrap after last slide.</h3>
        <p>This carousel uses customized default values.</p>
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <img src="../../assets/img/image_5.jpg" alt="Random fourth slide">
      <div class="carousel-caption">
        <h3>And no wrap after last slide.</h3>
        <p>This carousel uses customized default values.</p>
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <img src="../../assets/img/image_6.jpg" alt="Random fourth slide">
      <div class="carousel-caption">
        <h3>And no wrap after last slide.</h3>
        <p>This carousel uses customized default values.</p>
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <img src="../../assets/img/image_7.jpg" alt="Random fourth slide">
      <div class="carousel-caption">
        <h3>And no wrap after last slide.</h3>
        <p>This carousel uses customized default values.</p>
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <img src="../../assets/img/image_8.jpg" alt="Random fourth slide">
      <div class="carousel-caption">
        <h3>And no wrap after last slide.</h3>
        <p>This carousel uses customized default values.</p>
      </div>
    </ng-template>
  </ngb-carousel>
  
  </div>
  
  </div>
  <br>
  <br>
  <!--  finnnnn---- -->
<!-- Card -->
<div class="card" id="card">

    <!-- Card image -->
    <!--<img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Others/images/43.jpg" alt="Card image cap">-->
    <img class="card-img-top" id="card-img-top" src="../../assets/img/basilica.jpg" alt="Card image cap">
  
    <!-- Card content -->
    <div class="card-body text-white bg-danger" id="card-body">
  
      <!-- Title -->
      <h4 class="card-title"><a>Benvenuti nel nostro sito web!</a></h4>
      <!-- Text -->
      <p class="card-text">Casa Isabella è orgogliosa di invitarvi a Loreto, la città conosciuta in tutto il mondo per aver ospitato uno dei più importanti santuari cristiani, la Santa Casa di Loreto.
          Il nostro appartamento è distante poche centinaia di metri dal santuario e pochi chilometri dal  mare, quasi 10 km dal Monte Conero.
        Significa che sei in grado di visitare molti bei posti in quasi tutte le stagioni.
        Venite a vedere! Vieni a Casa Isabella e goditi un fantastico momento di relax e piacere, per il corpo e l’anima</p>
      <!-- Button -->
      <a href="#" class="btn btn-primary">Button</a>
  
    </div>
  
  </div>
  <!-- Card -->

<br>
<br>
<div class="card-deck">
    <div class="card">
      <img class="card-img-top" id="card-img-top2" src="../../assets/img/wifi.jpg" alt="Card image cap">
      <div class="card-body text-white bg-danger">
        <h5 class="card-title">Wifi Gratis</h5>
        <p class="card-text">Puoi connettere i tuoi dispositivi ovunque nella casa.</p>
      </div>
      <div class="card-footer">
        <small class="text-muted">Last updated 3 mins ago</small>
      </div>
    </div>
    <div class="card">
      <img class="card-img-top" id="card-img-top2" src="../../assets/img/aire.jpg" alt="Card image cap">
      <div class="card-body text-white bg-warning">
        <h5 class="card-title">Aria Condizionata</h5>
        <p class="card-text">Aria condizionata disponibile per avere la temperatura che ognuno desidera.</p>
      </div>
      <div class="card-footer">
        <small class="text-muted">Last updated 3 mins ago</small>
      </div>
    </div>
    <div class="card">
      <img class="card-img-top"  id="card-img-top2" src="../../assets/img/autobus.jpg" alt="Card image cap">
      <div class="card-body text-white bg-info">
        <h5 class="card-title">Fermata Autobus</h5>
        <p class="card-text">Vicino la casa è presente una fermata del bus per andare sia al centro di Loreto sia al mare.</p>
      </div>
      <div class="card-footer">
        <small class="text-muted">Last updated 3 mins ago</small>
      </div>
    </div>

    <div class="card">
        <img class="card-img-top"  id="card-img-top2" src="../../assets/img/playa.jpg" alt="Card image cap">
        <div class="card-body text-white bg-primary">
          <h5 class="card-title">Convenzioni Stabilimenti</h5>
          <p class="card-text">Convenzioni con diversi stabilimenti balneari.</p>
        </div>
        <div class="card-footer">
          <small class="text-muted">Last updated 3 mins ago</small>
        </div>
      </div>
  </div>


<br>


  
<br>
<br>

<br>

<h1>{{ title }}</h1>

<!-- this creates a google map on the page with the given lat/lng from -->
<!-- the component as the initial center of the map: -->
<agm-map [latitude]="lat" [longitude]="lng">
  <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
</agm-map>






<br>
<br>






</body>
