@media only screen and (max-width:620px) {
    /* For mobile phones: */
    .container1, .blockf, .container0 {
      width:100%;
    }
  }

.block1{

    margin-left: 25px;
    border-radius:13px;
    background-color: rgb(47, 48, 97, 0.85);
    display: block;
}
.container1{
   text-align:center;
    border-top-left-radius:13px;
    border-bottom-left-radius:13px;
    
    display: inline-block;
    background-color: rgb(47, 48, 97, 0.85);
    border-radius: 13px;
/*    width: 900px*/
    height: 230px;
    

}
.container0{
    /*text-align:center;
        border-radius:13px;
        margin:auto;
        display: flex;
        background-color: rgb(47, 48, 97, 0.85);
    */
        display:flex;
        margin: auto ;
        background-color:transparent;
        align-items:center;
    width: 80%;
    }

.blockf{

    float:left;

    
    width: 900px;
    height: 230px;
    border-radius: 0 19px 19px 0;
    
}
.blockd{
 padding: 19px;
 float: left;
 text-align:justify;
 color:white;
 background-color: #3f3f3e;
 border-top-left-radius:13px;
 border-bottom-left-radius:13px;
 width: 450px;
 height: 230px;
}

body{
font-size: 1rem;
font-weight: 400;
line-height: 1.5;
margin: 0;
padding: 0;
text-align: left;
background-color:transparent;

}
/*
Template 2084 Zipper

http://www.tooplate.com/view/2084-zipper
*/

/*background-color: rgb(47, 48, 97, 0.85);*/


img{
width: 100%;
height: 520px;

}
.cont1{
position: relative;
z-index: 0;

}
#card-body{

z-index: 2;

}
#card{
    background-color:transparent;
    margin-left: 25px;
    margin-right: 25px;
}
#card-body{

    margin-top:-4rem;
    margin-left:45px;
    margin-right: 45px;
    background-color: white;
    border-radius: 5px;
    text-align: center;
    border-top: 1px inset white;
    border-bottom: 1px inset white;
}

#card-img-top{
    border-radius: 10px;

}

#card-img-top2{

    height: 210px;
}


agm-map {
    height: 300px;
  }